ion-header.nutri-header {
    margin: 0;
    
    &.ion-no-border {
        ion-toolbar {
          --border-width: 0;
          
        }
      }
    ion-toolbar.nutri-header {
        --border-width: 0;
        --background: var(--ion-color-primary);
        text-align: center;
       
    }
}


