<ion-header class="nutri-header">
  <ion-toolbar class="nutri-header">
    <img src="../../../assets/Nutritrack_letras.png" alt="logo nutriTrack" class="nutri-header" />
  </ion-toolbar>
  
</ion-header>
<!-- Week Slider Component -->
<app-week-slider 
[week]="week"
(dayChange)="onDaySelected($event)"
(weekChange)="loadWeek($event)">
</app-week-slider>

<!-- Metrics Summary Component -->
<app-metrics-summary
[dailyGoals]="dailyGoals"
[currentConsumption]="currentConsumption">
</app-metrics-summary>
<ion-content>
  
  <!-- Meals Section -->
  <div class="meals-container">
    <!-- Desayuno -->
    <app-meal-accordion 
      title="Desayuno" 
      [items]="mealItems.desayuno"
      [parentDate]="selectedDate"
      (addItem)="addMeal('desayuno')">
    </app-meal-accordion>
    
    <!-- Almuerzo -->
    <app-meal-accordion 
      title="Almuerzo" 
      [items]="mealItems.almuerzo"
      [parentDate]="selectedDate"
      (addItem)="addMeal('almuerzo')">
    </app-meal-accordion>
    
    <!-- Comida -->
    <app-meal-accordion 
      title="Comida" 
      [items]="mealItems.comida"
      [parentDate]="selectedDate"
      (addItem)="addMeal('comida')">
    </app-meal-accordion>
    
    <!-- Merienda -->
    <app-meal-accordion 
      title="Merienda" 
      [items]="mealItems.merienda"
      [parentDate]="selectedDate"
      (addItem)="addMeal('merienda')">
    </app-meal-accordion>
    
    <!-- Cena -->
    <app-meal-accordion 
      title="Cena" 
      [items]="mealItems.cena"
      [parentDate]="selectedDate"
      (addItem)="addMeal('cena')">
    </app-meal-accordion>
    <!-- Recena -->
    <app-meal-accordion 
      title="Recena" 
      [items]="mealItems.recena"
      [parentDate]="selectedDate"
      (addItem)="addMeal('recena')">
    </app-meal-accordion>
  </div>
</ion-content>

