:host {
    --nutri-background-page: #f4f5f7;
    --nutri-card-background: #ffffff;
    --nutri-background-accent: #f9f9f9;
    --nutri-background-accent-light: #ffffff;
    --nutri-background-accent-dark: #e0e0e0;
    --nutri-background-accent-muted: #d0d0d0;
    --nutri-background-accent-muted-light: #eaeaea;
    --nutri-background-accent-muted-dark: #c0c0c0;
    --nutri-background-accent-muted-lighter: #f2f2f2;
    --nutri-background-accent-muted-darker: #b0b0b0;
}

ion-app {
    background:#f4f5f7
}