<ion-content fullscreen class="welcome-page">
  <div class="content-container">
    <div class="welcome-header">
      <img src="../../assets/logo.png" alt="logo nutriTrack" class="logo" />
      <h1 class="title">Bienvenido a</h1>
      <h1 class="brand">nutriTrack</h1>
    </div>

    <div class="login-buttons">
      <!-- Google -->
    <!--   <ion-button expand="block" fill="solid" class="btn-google">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Iniciar sesión con Google
      </ion-button> -->

      <!-- Facebook -->
<!--       <ion-button expand="block" fill="solid" class="btn-facebook">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Iniciar sesión con Facebook
      </ion-button>
 -->
      <!-- Email -->
      <ion-button expand="block" fill="solid" class="btn-email" routerLink="/auth/login">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        Iniciar sesión
      </ion-button>
    </div>

    <p class="register-text">
      No tienes cuenta? <a routerLink="/auth/register" class="register-link">Regístrate</a>
    </p>

    <div class="bottom-indicator"></div>
  </div>
</ion-content>