ion-content.welcome-page {
  --background: #f7f7f7;
  
  .content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    background-image: url('../../assets/pesas.png');
    background-size: cover;
    background-position: center;
  }

  .welcome-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
    
    .logo {
      width: 80px;
      height: 80px;
      margin-bottom: 20px;
    }
    
    .title {
      font-size: 28px;
      font-weight: 600;
      color: #333;
      margin-bottom: 0;
      text-align: center;
    }
    
    .brand {
      font-size: 38px;
      font-weight: 700;
      color: #333;
      margin-top: 0;
      text-align: center;
    }
  }

  .login-buttons {
    margin-top: auto;
    margin-bottom: 16px;
    
    ion-button {
      margin-bottom: 16px;
      height: 50px;
      --border-radius: 15px;
      font-weight: 500;
      
      ion-icon {
        margin-right: 8px;
      }
    }
    
    .btn-google {
      --background: #000000;
      --color: #ffffff;
    }
    
    .btn-facebook {
      --background: #1877F2;
      --color: #ffffff;
    }
    
    .btn-email {
      --background: #4CAF50;
      --color: #ffffff;
    }
  }

  .register-text {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 40px;
    
    .register-link {
      color: #4CAF50;
      font-weight: 600;
      text-decoration: none;
    }
  }

  .bottom-indicator {
    width: 80px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 0 auto 20px auto;
  }
}