<div class="week-slider-container" 
     (touchstart)="onTouchStart($event)"
     (touchmove)="onTouchMove($event)"
     (touchend)="onTouchEnd($event)">
  
  <div class="week-header">
   <!--  <ion-button fill="clear" size="small" (click)="prevWeek()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button> -->
    
    <div class="week-title">
      {{ formatWeekRange() }}
    </div>
    
  <!--   <ion-button fill="clear" size="small" (click)="nextWeek()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button> -->
  </div>
  
  <div class="week-days" [class]="animationClass">
    <div class="week-day" 
         *ngFor="let day of week" 
         [class.active]="day.active"
         [class.today]="isToday(day.date)"
         (click)="onDayClick(day)">
      <div class="day-letter">{{ day.letter }}</div>
      <div class="day-number">{{ day.date.getDate() }}</div>
    </div>
  </div>
</div>